# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AI\face_identity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
